<!DOCTYPE html>
<html>
    
<head>
    <title>Mi Sitio Web</title>
    <body bgcolor="c38fcf">
<h1>Hola Mundo</h1><br>
<h2>Hola Mundo</h2>
<p>Texto de ejemplo del grupo 4EF Alumno Nelson Garza Martinez</p><br>
<strong>Texto en negritas</strong>
<strong>
<p>TEXTO DE EJEMPLO </p>
<br>
<sub><p>Hola</p></sub>
<br>
<sup><p>Hey</p></sup>

<i><p>Texto de ejemplo del grupo 4EF Alumno Nelson Garza Martinez</p></i><br>

<h1>Referencias de Contacto</h1>
<ul>
<li><a href="Contacto.html">Contacto</a></li>
<li><a href="mailto:garzamartineznelson@gmail.com">Correo </a></li>
<li><a href="https://www.uat.edu.mx/" target="_blank">Sitio Oficial</a></li>
<li><a href="#marcador">Texto</a></li>
<li><a href="../estilos/OtraPagina.html" target="_blank">Otra pagina</a></li>

</ul>
<br>
<br>
<ol>
    <li>Uno</li>
    <li>Dos</li>
    <li>Tres</li>
</ol>
<br>
<br>
<br>

<a id="#marcador">Texto de prueba para mostrar el funcionamiento de hipervinculos</a>
<br>

<b></b>
</strong></body><br>
imagenes<br>

<img src="../imagenes/wicked.jpg" alt="Wicked" width="300" height="300">

<p><b>Mis videos</b></p>
<video src="" autoplay></video>

<p><b>Video Youtube</b></p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/zklE3_1kG0I?si=XVwM7pUQlpTsC629"
 title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
 referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

 <p><b>Frame</b></p>
 <iframe src="../paginas/Proyecto.html" frameborder="3" width="600"></iframe>

 <p><b>Audio</b></p>
 <audio src="" autoplay controls>Mi Audio</audio>
 <audio></audio>
</head>
</html>
