* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
h1{
    text-align: center;
}
body {
    background-color: #c882d8;
    display: flex;
    flex-direction: column;  /* Esto asegura que los elementos se apilen verticalmente */
    justify-content: flex-start;
    align-items: center;  /* Centra el contenido horizontalmente */
    min-height: 100vh;  /* Asegura que el body ocupe toda la altura de la ventana */
}

.wrapper {
    margin-top: 190px;  /* Asegura que el contenido no quede cubierto por el encabezado */
    width: 70%;
    
    background-color: khaki;
    flex-grow: 1;  /* Hace que la wrapper ocupe el espacio restante y empuje el footer hacia abajo */
}

img {
    width: 320px;
    float: left;
    
    border: 3px solid #000;
    border-radius: 10px;
    margin-right: 15px;
}

.text-box {
    color: #000;
}

.text-box h2 {
    font-size: 42px;
    text-align: center;
}

.contenedor {
    background-color: khaki;
    height: 50vh;
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Estilos para el encabezado fijo */
header {
    display: flex;
    height: 70px;
    width: 100%;
    background-color: coral;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;  /* Hace que el encabezado se quede fijo en la parte superior */
    top: 0;  /* Coloca el encabezado en la parte superior */
    left: 0;
    z-index: 1000;  /* Asegura que el encabezado esté encima de otros elementos */
}

/* Estilo para los enlaces de navegación */
header a {
    color: white;  /* Color de los enlaces */
    text-decoration: none;
    margin-left: 20px;  /* Separación entre los enlaces */
}

/* Espaciado adecuado para los enlaces */
header a:hover {
    text-decoration: underline;
}

iframe {
  width: 560px; /* Ancho del iframe */
    height: 315px; /* Altura del iframe */
    margin: 0 auto; /* Centra el iframe horizontalmente */
    display: block; /* Asegura que el iframe se comporta como un bloque */
    border: 3px solid #333;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

nav {
    display: flex;
    justify-content: space-between;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 0 15px;  /* Espaciado horizontal entre los enlaces */
    position: relative;
}

nav a:not(:last-child):after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 30px;
    background-color: black;  /* Línea blanca para la separación */
}

/* Estilo para el footer */
.footer {
    width: 100%;
    background: #286bcf;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: auto;  /* Asegura que el footer siempre se ubique al final de la página */
}

.menu {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0px;
    flex-wrap: wrap;
}

.menu-elem {
    list-style: none;
}

.menu-icon {
    color: white;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.5;
    transition: 0.3s;
}

.menu-icon:hover {
    opacity: 1;
}

.text {
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
}

.login {
    width: 20px;
    height: 20px;
}
.logo{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center; /* Alinea verticalmente */
    gap: 10px; /* Espacio entre imagen y texto */
  }

  p{
    text-align: center;
  }

.imglogo{
    width: 320px;
    float: left;
    
    border: 3px solid #000;
    border-radius: 10px;
    margin-right: 15px;
}

.contenedor {
    display: flex;  /* Utilizamos flexbox */
    justify-content: space-around;  /* Espacio entre las imágenes */
  }